<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; background-color: #edf2f7; color: #718096; line-height: 1.4; margin: 0; padding: 20px; padding-top: 0;">

<div style="text-align: center; margin: 0;">
    <a href="https://sead.ufes.br/" target="_blank">
        <img src="https://ci3.googleusercontent.com/meips/ADKq_Na52tnoALj9PvG7NXoJyLIY6BDglf2am2Ak0fa4SVZEa8xgetewLq1LYiqXJEs22fgvvZE3YedZDcdSh-7G-Kv86jKRY9s6_uKuIsNN=s0-d-e1-ft#https://ldi.ufes.br/global/SeadUFES_Horizontal_azul.png" alt="Sead Logo" style="width: 25em;">
    </a>
</div>

<div style="background-color: #ffffff; padding: 20px; margin: 0;">
    <p style="font-size: 16px; line-height: 1.5em; margin-top: 0;">Olá,</p>
    <pre style="font-size: 16px; line-height: 1.5em; margin-top: 0;">{{message}}</pre>
    <br />
    <p style="font-size: 16px; line-height: 1.5em; margin-top: 0;">Atenciosamente,</p>
    <p style="font-size: 16px; line-height: 1.5em; margin-top: 0;">Sistema ERP<br />
    Sead/UFES - Superintendência de Educação a Distância da Universidade Federal do Espírito Santo</p>
</div>

<div style="text-align: center; margin-top: 20px 0;">
    <p style="color: #b0adc5; font-size: 12px; margin-bottom: 0;">Este é um e-mail automático, favor não responder.<br />
    Se você não deseja mais receber e-mails deste tipo, por favor, entre em contato com a Sead no email sead@ufes.br.<br />
    © {{year}} Sead. Todos os direitos reservados.</p>
</div>

</body>
